html {
  box-sizing: border-box;
  font-family: 'Patua One', Georgia, sans-serif;
  font-size: 2rem;
  line-height: 1.5rem;
  margin: .5rem;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  with: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

h1 {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  margin-bottom: 0;
  max-width: 14rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 2em;
}



.logo {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
}
