html {
  box-sizing: border-box;
  font-family: Georgia;
  font-size: 2rem;
  line-height: 1.5;
  margin: .5rem;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: inline-grid;
  grid-area: banner;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

h1 {
  grid-column: 1;
  grid-row: 3;
  z-index: 1;
  margin-bottom: 0.5rem;
  max-width: 14rem;
}

h2 {
  font-family: "Patua One", sans-serif;
  margin: 0;
  color: #30658d;
  font-size: .95rem;
}

p {
  margin: 0;
  font-size: .7rem;
}

nav {
  grid-column: 3 / -1;
  grid-row: 1;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

li {
  list-style-type: none;
  color: #fff;
}

a {
  text-decoration: underline;
  color: #fff;
}

main {
  display: grid;
  grid-template-areas:
    "figure figure"
}

figure {
  align-items: flex-end;
}
